<div align="center" class="container">
  <h2 for="form1" class="lbl">AGREGAR LASER</h2>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="ID Laser" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="codigo Laser" value="">
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width">
    <input  matInput placeholder="Lugar" value="">
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Fecha Inicio" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Fecha Fin" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Hora Inicio" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Hora Fin" value="">
  </mat-form-field>

  <br /><br /><br />
    <button mat-button>Agregar</button>
    <br /><br /><br />

</div>
