<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'" [animation]="'slide'">
  <!--First slide-->
  <mdb-carousel-item>
    <div class="col-md-4">
      <mdb-card>
        <mdb-card-img src="https://i.ytimg.com/vi/mcNY9OPRvIk/maxresdefault.jpg" alt="Card image cap"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title>
            <h4>Card title</h4>
          </mdb-card-title>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-md-4 clearfix d-none d-md-block">
      <mdb-card>
        <mdb-card-img src="https://i.pinimg.com/originals/49/ae/b7/49aeb7fa0438ee00b0d3d74831443dbd.png" alt="Card image cap"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title>
            <h4>Card title</h4>
          </mdb-card-title>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-md-4 clearfix d-none d-md-block">
      <mdb-card>
        <mdb-card-img src="https://i.ytimg.com/vi/Lht5CDY_8D4/maxresdefault.jpg" alt="Card image cap"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title>
            <h4>Card title</h4>
          </mdb-card-title>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </mdb-carousel-item>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-carousel-item>
    <div class="col-md-4">
      <mdb-card>
        <mdb-card-img src="https://i.kinja-img.com/gawker-media/image/upload/s--R2Em3zqv--/c_scale,f_auto,fl_progressive,q_80,w_800/tgcjdfwlegpkgltudxaz.jpg" alt="Card image cap"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title>
            <h4>Card title</h4>
          </mdb-card-title>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-md-4 clearfix d-none d-md-block">
      <mdb-card>
        <mdb-card-img src="https://steeledevoted.files.wordpress.com/2014/02/groovylasers.jpg" alt="Card image cap"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title>
            <h4>Card title</h4>
          </mdb-card-title>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-md-4 clearfix d-none d-md-block">
      <mdb-card>
        <mdb-card-img src="https://i.pinimg.com/originals/7d/3a/db/7d3adba457bafaa7cea88d6826559359.jpg" alt="Card image cap"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title>
            <h4>Card title</h4>
          </mdb-card-title>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </mdb-carousel-item>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-carousel-item>
    <div class="col-md-4">
      <mdb-card>
        <mdb-card-img src="https://spectrum.ieee.org/ns/slideshows/04W_iCandy2010a/fullscreen/ap10033012737.jpg" alt="Card image cap"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title>
            <h4>Card title</h4>
          </mdb-card-title>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-md-4 clearfix d-none d-md-block">
      <mdb-card>
        <mdb-card-img src="https://i.ytimg.com/vi/6OCWvFFgD5c/maxresdefault.jpg" alt="Card image cap"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title>
            <h4>Card title</h4>
          </mdb-card-title>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-md-4 clearfix d-none d-md-block">
      <mdb-card>
        <mdb-card-img src="https://zackdonaldson.files.wordpress.com/2015/04/laser-security.jpg" alt="Card image cap"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title>
            <h4>Card title</h4>
          </mdb-card-title>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </mdb-carousel-item>
  <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->
