<ul>
    <li>
      <a [routerLink]="['/login']">Login</a>-
    </li>
    <li>
      <a [routerLink]="['/registro']">Registrar</a>-
    </li>
    <li>
      <a [routerLink]="['/home']">Home</a>-
    </li>
    <li style="float:right">
      <a [routerLink]="['/login']"><img src="https://cdn.pixabay.com/photo/2016/04/15/18/05/computer-1331579_960_720.png" border="1"  width="50" height="50"></a>
    </li>
    <li style="float:right">
      <h5><font color="#AAAAAA">Usuario</font> </h5>
    </li>
</ul>
<app-carousel></app-carousel>
